{% extends 'base.html'%}
{% block content %}
{%if user.is_authenticated%}
  <div class="nav-item">
    <a class="rgb" href="{% url 'post-create' %}">Post!</a>
    <a href="{% url 'profile' %}"><button class="btn btn-all-my-account">My Account</button></a>
    <a href="{% url 'logout' %}"><button class="btn btn-all-sign-out" >Sign Out</button></a>
  </div>
{% else %}
  <div class="nav-item">
    <a href="{% url 'login' %}"><button class="btn btn-all-sign-in">Sign In</button></a>
    <a href="{% url 'register' %}"><button class="btn btn-all-sign-up" >Sign Up</button></a>
  </div>
{% endif %}

<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/carousel.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div>

</div>

{% endblock %}